.home-cont{
    min-height: 93vh;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}

.home-cont .main-cont{
    height: 93vh;
    background-image: url('../bg/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.main-cont .find{
    height: 60%; 
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    text-align: center;
    /* font-size: 50px;
    font-weight: bold; */
    font: normal normal bold 80px/100px Bahnschrift;
    /* background-color: violet; */
}

.main-cont .play{

    padding: 10px 50px;
    background-color: #f69204;
    outline: none;
    border: none;
    margin-top: 80px;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}