.modal-dialog{
  width: auto;
}

.modal-content {
  width: 100% !important;
 
}
.modal-body {
  text-align: center;
  padding-top: 25px !important;
  padding-bottom: 15px !important;
}
.modal-footer {
  justify-content: center;
  padding: 5px 0 20px 0 !important;
}
.modal-footer .btn {
  background-color: rgb(246, 146, 4);
  color: #000;
  font-weight: 600;
  width: 20% !important;
  border: none;
  border-radius: 5px !important;
}
.btn-check:active + .btn-secondary:focus,
.btn-check:checked + .btn-secondary:focus,
.btn-secondary.active:focus,
.btn-secondary:active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

@media only screen and (max-width: 1300px) {
  .modal-content {
    width: 60% !important;
  }
}
@media only screen and (max-width: 660px) {
  .modal {
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .modal-content {
    width: 100% !important;
  }
  .modal.show .modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
  }
  .modal {
    height: 21%;
  }
  .modal.show .modal-dialog {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
@media only screen and (max-width: 575px) {
  .modal-content {
    padding-right: 0px !important;
  }
  .modal {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

  }
}
/* @media only screen and (max-width: 499px) {
  .modal {
    width: 80%;
    margin-left: 8%;
    margin-right: 8%;
  }
} */
