.navbar{
    min-height: 7vh;
    width: 100%;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navbar .Links{
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 30%;
    font: normal normal normal 18px/12px Arial;

}


.Links>div:hover{
    cursor: pointer;
    /* border-bottom: 3px solid #f69204; */
    
}


.navbar .title{

    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}
.title>img{
    cursor: pointer;
}

.navbar .icons-div{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    /* background-color: brown; */
}

.icons-div .icons{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: tomato; */
}


.icons>img, .icons>div{
    cursor: pointer;
}