/* .side-bar-cont{
    position: absolute;
    left: 85%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: #4A4747;
    display: flex;
    flex-direction: column;
    z-index: 111111111111111;
} */

.side-bar-cont{
    position: absolute;
    left: 85%;
    right: 0%;
    top: 101%;
    bottom: -1329%;
    background-color: #4A4747 !important;
    display: flex;
    flex-direction: column;
    
    z-index: 111111111111111;
}

.side-bar-cont .close{
    
    display: flex;
    align-items: center;
    font: normal normal bold 15px/15px Arial;
}

.side-bar-cont .close-icon{
    
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 1.5vw;
}

/* .side-bar-cont .cash-cont, .menu-cont .cash-cont{
    
    display: flex;
    align-items: center;
    font: normal normal normal 15px/30px Calibri;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

/* .side-bar-cont .cash-cont>img{
        
    margin-left: 20px;
    margin-right: 10px;
} */

.side-bar-cont .boxes, .menu-cont .boxes{
    
    display: flex;
    justify-content: space-between;
    height: 8%;
    width: 100%;
    /* background-color: black; */
}

.boxes .left-box, .boxes .right-box{
    width: 49%;
    height: 100%;
    background: #605E5E 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.side-bar-cont .view-profile, .menu-cont .view-profile{
    margin-top: 10px;
    display: flex;
    align-items: baseline;
    /* background: #605E5E 0% 0% no-repeat padding-box; */
    height: 5%;
    width: 100%;
    font: normal normal normal 13px/25px Calibri;
    
}

.side-bar-cont .view-profile:hover{
    background: #605E5E 0% 0% no-repeat padding-box;
}



.side-bar-cont .common, .menu-cont .common{
    font: normal normal normal 1vw/2vw Calibri;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 2vw;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    
}

.side-bar-cont .common:hover{
    background: #605E5E 0% 0% no-repeat padding-box;
}

.side-bar-cont .line, .menu-cont .line{
    width: 100%;
    height: 2px;
    border: 0.5px solid #CBCBCB;
    margin: 10px 0px;
}

.side-bar-cont .lang, .menu-cont .lang{
    margin-top: 40px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.lang .lang-btn{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 100%;
    background: #F69204 0% 0% no-repeat padding-box;
    font: normal normal bold 12px/30px Calibri;
    color: black;
    border: none;
}

@media (max-width: 800px) {
    .side-bar-cont .common, .menu-cont .common, .menu-cont .view-profile{
        font: normal normal normal 15px/30px Calibri;
        padding-left: 10vw;
        margin-bottom: 1vh;
    }


}